<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target includeMode="feature" name="hu.blackbelt.judo.meta.expression.psm.targetdefinition.target" sequenceNumber="1663624248450">
  <locations>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://nexus.judo.technology/repository/p2/judo-epp-common/4.23.0.20220919_071730"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://nexus.judo.technology/repository/p2/emf-genmodel-generator/1.0.2.20220916_082646"/>
      <unit id="hu.blackbelt.eclipse.emf.genmodel.generator.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://nexus.judo.technology/repository/p2/judo-genmodel-generator/1.0.1.20220916_103853"/>
      <unit id="hu.blackbelt.judo.eclipse.emf.genmodel.generator.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://nexus.judo.technology/repository/p2/epsilon-runtime-eclipse/1.5.0.20220916_075622"/>
      <unit id="hu.blackbelt.epsilon.runtime.feature.feature.group" version="0.0.0"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://nexus.judo.technology/repository/p2/judo-meta-psm/1.1.0.20220901_121101_7fe3d5e1_develop"/>
      <unit id="hu.blackbelt.judo.meta.psm.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://nexus.judo.technology/repository/p2/judo-meta-expression/1.0.1.20220902_155839_54554c59_develop"/>
	    <unit id="hu.blackbelt.judo.meta.expression.adapter.measure.feature.feature.group" version="0.0.0"/>
	    <unit id="hu.blackbelt.judo.meta.expression.builder.jql.feature.feature.group" version="0.0.0"/>
	    <unit id="hu.blackbelt.judo.meta.expression.feature.source.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://nexus.judo.technology/repository/p2/judo-meta-measure/1.0.0.20220901_121041_607ea7b1_develop"/>
      <unit id="hu.blackbelt.judo.meta.measure.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://nexus.judo.technology/repository/p2/judo-meta-jql/1.0.1.20220901_121131_aff994b2_develop"/>
      <unit id="hu.blackbelt.judo.meta.jql.feature.feature.group" version="0.0.0"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>